<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="oauthHost" value="127.0.0.1"/>
    <add key="oauthPort" value="8443"/>
    <add key="oauthEndPoint" value="oauth"/>
    <add key="strictCertificatePolicy" value="false"/>
  </appSettings>
</configuration>
